body,html {
    margin: 0;
}

.menuBar {
    display: flex;
    position: relative;
    text-align: right;
    margin-right: 0;
    flex-direction: row;
    float: right;
}

.headerInfo {
    text-align: center;
    text-decoration: none;
    padding: 15px;
}

.menuBar_setting_icon {
    width: 25px;
    height: 25px;
}

.logo {
    position: relative;
    text-align: center;
    padding-top: 5%;
}

#GoogleLogo {
    width: 450px;
    height: 250px;
}

.search_box {
    background-color: white;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    width: 600px;
    margin:  0 auto;
}

#searching_icon {
    display: inline-block;
    text-align: left;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

#searching_box {
    display: inline-block;
    width: 510px;
    height: 44px;
}

#searching_box_input {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 8px;
    font-size: 16px;
    width: 480px;
    height: 25px;
}

#microphone {
    display: inline-block;
    text-align: right;
    padding-top: 8px;
    padding-right: 15px;
}

.sec-section {
    display: block;
    font-size: small;
    color: #202124;
    z-index: 0;
    height: 70px;
    padding-top: 18px;
    top: 53px;
}

.sec-fir-section {
    display: block;
    text-align: -webkit-center;
}

.section-btn {
    background-image: -webkit-linear-gradient(top, #f8f9fa, #f8f9fa);
    background-color: #f8f9fa;
    border: 1px solid white;
    border-radius: 4px;
    color: #3c4043;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px, 4px;
    padding: 0 16px;
    line-height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.thi-section {
    display: block;
    margin-top: 12px;
    text-align: -webkit-center;
}

.thi-fir-section {
    margin-bottom: 24px;
    display: block;
    text-align: -webkit-center;
}

.thi-sec-section {
    display: inline-block;
    line-height: 28px;
    text-align: -webkit-center;
}

a {
    text-decoration: none;
}

a:visited {
    color: #609;
}

.fir-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    font-size: 10pt;
    min-width: 400px;
    border-top: 1px solid #dadce0;
    line-height: 40px;
    background: #f2f2f2;
}

.thi-footer {
    display: block;
    font-size: 14px;
    margin-left: -27px;
    line-height: 40px;
    border-bottom: 1px solid #dadce0;
}

.thi-fir-footer {
    display: block;
    margin-left: 30px;
    text-align: left;
    color: rgba((0,0,0,.54), green, blue, alpha);
    padding-left: 27 px;
    font-size: 14px;
    line-height: 40px;
}

.thi-sec-footer {
    font-size: 15px;
    text-align: left;
    color: rgba(0,0,0,.54);
    padding-left: 27px;
}

#footer-fir {
    float: right;
    color: rgba(0,0,0,.54);
    margin-right: 30px;
    font-size: 14px;
    line-height: 40px;
}

#footer-sec {
    float: left;
    margin-left: 30px;
    font-size: 14px;
    line-height: 40px;
}

.footer-a {
    display: inline-block;
    color: rgba(0,0,0,.54);
    padding-left: 27px;
    margin: 0 !important;
    text-decoration: none;
    white-space: nowrap;    
}

.footer-b {
    display: inline-block;
    color: rgba(0,0,0,.54);
    padding-right: 27px;
    margin: 0 !important;
    text-decoration: none;
    white-space: nowrap;    
}

#footer-fir-style {
    margin-right: 5px;
    position: relative;
    display: none;
    width: 16px !important;
    background-size: contain !important;
    top: 1px;
}

#footer-sec-style {
    margin-right: 5px;
    position: relative;
    display: none;
    width: 16px !important;
    background-size: contain !important;
    top: 1px;
}