body, html {
    margin: 0;
    font-family: sans-serif;
}

html {
    font-size: 100%;
}

div {
    display: block;
}

a:not([href]) {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #0645ad;
    background: none;
}

a:visited {
    color: #0b0080;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: underline;
}

img {
    border: 0;
    vertical-align: middle;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#my-page-base {
    background-color: #fbfbfb;
    background-image: linear-gradient(to bottom, #ffffff 50%, #f6f6f6 100%);
    background-position: bottom left;
    height: 5em;
}

#my-head-base {
    margin-left: 11em;
    margin-top: -5em;
    height: 5em;
}

.my-body {
    margin-top: -1px;
    border: 1px solid #a7d7f9;
    border-right-width: 0;
}

.my-body, #my-data-after-content {
    background-color: #ffffff;
    color: #202122;
    direction: ltr;
    padding: 1em;
}

.my-body, .parsoid-body {
    background-color: #ffffff;
    color: #202122;
    direction: ltr;
    padding: 1em;
}

#content {
    margin-left: 10em;
}

.my-body-content {
    line-height: 1.6;
    z-index: 0;
}

.my-body-content p {
    margin: 0.5em 0;
}

#siteNotice {
    position: relative;
    text-align: center;
    margin: 0;
    font-size: 0.8em;
}

#siteNoticeLocal {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.my-notice-close2 {
    position: relative;
    top: 0px;
    right: 7px;
    margin-left: 5px;
    text-align: right;
    float: right;
    visibility: visible;
}

#xbutton {
    width: 30px;
    height: 30px;
}

.my-logo {
    display: inline-block;
}

.my-wiki-logo {
    height: 150px;
    width: 150px;
}